{% extends "groups/group_base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Create Group" %}{% endblock %}
{% block body_class %}groups create{% endblock %}

{% block middle %}
    <section class="single-page-title single-page-title-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{% block body_page_title %}{% trans "Create a Group" %}{% endblock %}</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- .page-title -->
    {{ block.super }}

    <section class="contact-section white-bg">
        <div class="container">
            <div class="section-title text-center hide">
                <h2>{% trans "Create a group to ... " %}</h2>
            </div>
    
            <div class="contact-form mt-50">
                {% if errors %}
                <div id="errors">
                    {% for error in errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <div>
                    <form class="uniForm" id="form" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            {{ form|as_bootstrap }}
                            <div class="form_block g-text-center--xs">
                                <input type="hidden" name="action" value="create" />
                                <input type="submit" class="btn btn-primary btn-lg"
                                    value="{% block form_button %}{% trans 'Create' %}{% endblock %}" />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div> <!-- contact-form -->
        </div>
    </section> <!-- contact-section -->
{% endblock middle %}
