{% load i18n %}
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#info" data-toggle="tab"><i class="fa fa-info-circle"></i>&nbsp;{% trans "Info" %}</a></li>
    {% if resource.polymorphic_ctype.name == 'layer' %}
        <li><a href="#attributes" data-toggle="tab"><i class="fa fa-bars"></i>&nbsp;{% trans "Attributes" %}</a></li>
    {% endif %}
    {% if resource.is_mosaic %}
        <li><a href="#granules" data-toggle="tab"><i class="fa fa-bars"></i>&nbsp;{% trans "Granules" %}</a></li>
    {% endif %}
    {% if maps.count > 0 %}
    <li class=""><a href="#rel_maps" data-toggle="tab" aria-expanded="false"><i class="fa fa-link"></i>&nbsp;{% trans "Related Maps" %}</a></li>
    {% endif %}
    {% if resource.layer_set.all.count > 0 %}
    <li class=""><a href="#rel_layers" data-toggle="tab" aria-expanded="false"><i class="fa fa-link"></i>&nbsp;{% trans "Map Layers" %}</a></li>
    {% endif %}
    {% if documents.count > 0 %}
    <li class=""><a href="#rel_docs" data-toggle="tab" aria-expanded="false"><i class="fa fa-link"></i>&nbsp;{% trans "Related Docs" %}</a></li>
    {% endif %}
    {% if layer.maps.count > 0 or related.count > 0 %}
    <li class=""><a href="#rel_resources" data-toggle="tab" aria-expanded="false"><i class="fa fa-link"></i>&nbsp;{% trans "Related Resources" %}</a></li>
    {% endif %}
    {% if DISPLAY_RATINGS %}
        <li><a href="#rate" data-toggle="tab"><i class="fa fa-star"></i>&nbsp;{% trans "Ratings" %}</a></li>
    {% endif %}
    {% if DISPLAY_COMMENTS %}
        <li><a href="#comments" data-toggle="tab"><i class="fa fa-comment-o"></i>&nbsp;{% trans "Comments" %}</a></li>
    {% endif %}
    {% if GEOGIG_ENABLED and resource.link_set.geogig %}
        <li><a href="#geogig" data-toggle="tab"><i class="fa fa-code-fork"></i>&nbsp;{% trans "GeoGig" %}</a></li>
    {% endif %}
    {% if EXIF_ENABLED and resource.polymorphic_ctype.name == 'document' and exif_data %}
        <li><a href="#exif" data-toggle="tab"><i class="fa fa-photo"></i>&nbsp;{% trans "Exif" %}</a></li>
    {% endif %}
</ul>
