{% extends "geonode_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
	{{ block.super }}

	{% block hero %}
		{% if block.super %}
			{{ block.super }}
		{% else %}
            <div id="my-carousel" class="carousel slide hero-slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#my-carousel" data-slide-to="1"></li>
                    <li data-target="#my-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner carousel-inner-img" role="listbox" style="background-image:url(..{% static 'epr_bgd/img/hero-slide-3.jpg' %});">
                    <div class="item active" style="height: 100%;">
                        <div class="carousel-caption">
                            <div class="container">
                                <h1>Strategic Management</h1>
                                <p>Efficiently develop parallel e-markets through impactful outsourcing.<br>Conveniently drive prospective functionalities before.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="height: 100%;">
                        <div class="carousel-caption">
                            <div class="container">
                                <h1>Market Analyst</h1>
                                <p>Synergistically enhance low-risk high-yield testing procedures<br>with clicks-and-mortar architectures.
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="item" style="height: 100%;">
                        <div class="carousel-caption">
                            <div class="container">
                                <h1>Customer Care</h1>
                                <p>Monotonectally envisioneer 24/7 bandwidth with reliable imperatives. <br>Continually unleash unique niches after go forward.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control hidden-xs" href="#my-carousel" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control hidden-xs" href="#my-carousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- #my-carousel-->
		{% endif %}
    {% endblock hero %}
    
	{% block mainbody %}
		{% block bigsearch %}
			
		{% endblock bigsearch %}

		{% block datasets %}
		<section class="section-content-left-icon">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                            <div class="icon">
                                <i class="flaticon-tags"></i>
                            </div>
                            
                            <div class="content">
                            <h2>SEO Experts</h2>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-ranking"></i></div>
                        
                        <div class="content">
                            <h2>Great Rankings</h2>
                            <p>Distinctively cultivate granular action items with standards compliant metrics. Holisticly promote empowered.</p>
                        </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-monitoring"></i></div>

                        <div class="content">
                            <h2>Brand Visibility</h2>
                            <p>Assertively facilitate go forward web services whereas intuitive e-markets. Completely parallel task world.</p>
                        </div>
                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-blogging"></i></div>

                        <div class="content">
                            <h2>Content Marketing</h2>
                            <p>Efficiently monetize technically sound e-markets rather than interoperable e-services.</p>
                        </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-social-media"></i></div>

                        <div class="content">
                            <h2>Social Media</h2>
                            <p>Collaboratively seize best-of-breed manufactured products for inexpensive initiatives. Dynamically repurpose.</p>
                        </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-viral-marketing"></i></div>

                        <div class="content">
                            <h2>Digital Marketing</h2>
                            <p>Enthusiastically promote standards compliant relationships vis-a-vis backend resources.</p>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container -->
        </section>
        <!-- /.services-left-icon -->
		{% endblock datasets %}

		{% block showcase %}
		<section class="featured-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="featured-content-wrapper">
                            <div class="featured-img">
                                <img class="img-responsive" src="{% static 'epr_bgd/img/img-featured-1.png' %}" alt="">
                            </div>
                            <div class="featured-content">
                                <h1>We Improve Your Online Performance</h1>
                                <p>
                                    Dynamically enhance accurate methods of empowerment without interdependent applications. Appropriately e-enable synergistic platforms for visionary manufactured products. Dramatically develop state of the art relationships without enterprise-wide methodologies.
                                </p>
                                <a href="" class="btn btn-default btn-lg">Learn More About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.featured-box -->
        {% endblock showcase %}
        
        <section class="testimonial">
            <div class="container">
                <div id="testimonialSlider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialSlider" data-slide-to="1"></li>
                        <li data-target="#testimonialSlider" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <blockquote>
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus
                                    pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit
                                    consequat eget augue vitae aliquet sollicitudin.
                                </p>

                                <ul class="user-details">
                                    <li class="avatar"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" class="img-responsive" alt=""/></li>
                                    <li class="name">Justus Kühn</li>
                                    <li class="company">{% trans "OSM" %}</li>
                                </ul>

                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus
                                    pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit
                                    consequat eget augue vitae aliquet sollicitudin.
                                </p>
                                <ul class="user-details">
                                    <li class="avatar"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" class="img-responsive" alt=""/></li>
                                    <li class="name">Lennox Arnold</li>
                                    <li class="company">{% trans "OSM" %}</li>
                                </ul>

                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus
                                    pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit
                                    consequat eget augue vitae aliquet sollicitudin.
                                </p>
                                <ul class="user-details">
                                    <li class="avatar"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" class="img-responsive" alt=""/></li>
                                    <li class="name">Paulina Berger</li>
                                    <li class="company">{% trans "OSM" %}</li>
                                </ul>

                            </blockquote>
                        </div>
                    </div>
                </div>
                <!-- #testimonialSlider -->
            </div>
        </section>
        <!-- /.testimonial -->

        <section class="client-logo ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                </div>
            </div>
            <!--end of .container -->
        </section>
        <!-- /.client-logo -->

	{% endblock mainbody %}

{% endblock middle %}

{% block extra_script %}
	{{ block.super }}
	{% if DEBUG_STATIC %}
		<script src="{% static "lib/js/angular.js" %}"></script>
	{% endif %}
	<script type="text/javascript">
		FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
		'use strict';
		(function(){
			var module = angular.module('featured', []);
			module.run(function($http, $rootScope){
				$http.get(FEATURED_URL).success(function(data){
					$rootScope.featured = data.objects;
				});
			});
		})();
	</script>
	<script>
		$('[data-toggle="tooltip"]').tooltip({container: 'body'});
	</script>
{% endblock extra_script %}
