{% extends "geonode_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block title %} {% trans "EPR - Spatial Data Center" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
	{{ block.super }}

	{% block hero %}
		{% if block.super %}
			{{ block.super }}
		{% else %}
            <div id="my-carousel" class="carousel slide hero-slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#my-carousel" data-slide-to="1"></li>
                    <li data-target="#my-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner carousel-inner-img" role="listbox" style="background-image:url(..{% static 'epr_bgd/img/hero-slide-3.jpg' %});">
                    <div class="item active" style="height: 100%;">
                        <div class="carousel-caption">
                            <div class="container">
                                <h1>{% trans "Dashboard" %}</h1>
                                <p class="hide">Efficiently develop parallel e-markets through impactful outsourcing.<br>Conveniently drive prospective functionalities before.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="height: 100%;">
                        <div class="carousel-caption">
                            <div class="container">
                                <h1>{% trans "Static Maps" %}</h1>
                                <p class="hide">Synergistically enhance low-risk high-yield testing procedures<br>with clicks-and-mortar architectures.
                            </div>
                            </p>
                        </div>
                    </div>
                    <div class="item" style="height: 100%;">
                        <div class="carousel-caption">
                            <div class="container">
                                <h1>{% trans "Interactive Maps" %}</h1>
                                <p class="hide">Monotonectally envisioneer 24/7 bandwidth with reliable imperatives. <br>Continually unleash unique niches after go forward.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control hidden-xs" href="#my-carousel" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control hidden-xs" href="#my-carousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <!-- #my-carousel-->
		{% endif %}
    {% endblock hero %}
    
	{% block mainbody %}
        <div ng-app="featured" >
            <section class="case-studies">
                <div class="container">
                    <div class="section-title">
                        <h1>{% trans "Latest Updates Camps" %}</h1>
                        {% verbatim %}
                        <p class="">
                            New 
                            <span class="g-font-weight--500">{{ latestcamp.objects[0].doc_type_long }}</span>
                            has been added for 
                            <span class="g-font-weight--500" ng-repeat="region in latestcamp.objects[0].camps">{{region}}</span>
                        </p>
                        {% endverbatim %}
                    </div>
                    <div class="row hidden_custom">
                        <div class="col-xs-12 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
                            <div class="latest-search g-margin-b-25--xs">
                                <form id="camp_search" action="{% url "search" %}" >
                                    <input id="camp_search_input" type="text" placeholder="Search Static Maps by Camp" name="regions__name__in" class="g-width-100-percent--xs">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% verbatim %}
                        <div class="resourcebase-snippet">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in latestcamp.objects">
                                <div class="card">
                                    <div class="card-image">
                                        <a href="{{ item.detail_url }}">
                                            <img class="img-responsive center-block" src="{{ item.thumbnail_url }}" alt="{{ item.title }}">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <div class="description-content">
                                            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-0--xs">{{ item.doc_type_long }}</p>
                                            <a href="{{ item.detail_url }}">
                                                <h2 class="g-margin-b-0--xs">{{ item.title }}</h2>
                                            </a>
                                            <div class="g-color--gray-light hide">
                                                by {{ item.owner_name }}
                                                <span class="mx-1">•</span>
                                                {{ item.date|date:'MMM d, y' }}
                                            </div>
                                            <div>
                                                <small class="text-muted">Last updated {{ item.date|date:'MMM d, y' }}</small>
                                            </div>
                                            <div class="text-right">
                                                <span ng-repeat="region in item.regions">
                                                    <span class="label label-default">{{ region }}</span>&nbsp;
                                                </span>
                                            </div>
                                            <div class="hide">
                                                <span class="label label-default">{{ item.category__gn_description }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
            </section>
    
            <section class="case-studies g-bg-color--sky-light">
                <div class="container">
                    <div class="section-title">
                        <h1>{% trans "Latest Updates Host Communities" %}</h1>
                        {% verbatim %}
                        <p class="">
                            New 
                            <span class="g-font-weight--500">{{ latestcmty.objects[0].doc_type_long }}</span>
                            has been added for 
                            <span class="g-font-weight--500" ng-repeat="region in latestcmty.objects[0].unions">{{region}}</span>
                        </p>
                        {% endverbatim %}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
                            <div class="latest-search g-margin-b-25--xs">
                                <form id="union_search" action="{% url "search" %}" >
                                    <input id="union_search_input" type="text" placeholder="Search Static Maps by Host Community" name="regions__name__in" class="g-width-100-percent--xs">
                                </form>
                            </div>
                        </div>
                        {% verbatim %}
                        <div class="resourcebase-snippet">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in latestcmty.objects">
                                <div class="card">
                                    <div class="card-image">
                                        <a href="{{ item.detail_url }}">
                                            <img class="img-responsive center-block" src="{{ item.thumbnail_url }}" alt="{{ item.title }}">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <div class="description-content">
                                            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-0--xs">{{ item.doc_type_long }}</p>
                                            <a href="{{ item.detail_url }}">
                                                <h2 class="g-margin-b-0--xs">{{ item.title }}</h2>
                                            </a>
                                            <div class="g-color--gray-light hide">
                                                by {{ item.owner_name }}
                                                <span class="mx-1">•</span>
                                                {{ item.date|date:'MMM d, y' }}
                                            </div>
                                            <div>
                                                <small class="text-muted">Last updated {{ item.date|date:'MMM d, y' }}</small>
                                            </div>
                                            <div class="text-right">
                                                <span ng-repeat="region in item.regions">
                                                    <span class="label label-default">{{ region }}</span>&nbsp;
                                                </span>
                                            </div>
                                            <div class="hide">
                                                <span class="label label-default">{{ item.category__gn_description }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
            </section>
    
            <section class="case-studies">
                <div class="container">
                    <div class="section-title">
                        <h1>{% trans "Latest Updates" %}</h1>
                        {% verbatim %}
                        <p class="">
                            New 
                            <span class="g-font-weight--500">{{ latestcampcmty.objects[0].doc_type_long }}</span>
                            has been added for 
                            <span class="g-font-weight--500" ng-repeat="region in latestcampcmty.objects[0].camps">{{region}}</span>
                            <span class="g-font-weight--500" ng-repeat="region in latestcampcmty.objects[0].unions">{{region}}</span>
                        </p>
                        {% endverbatim %}
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
                            <div class="latest-search g-margin-b-25--xs">
                                <form id="camp_union_search" action="{% url "search" %}" >
                                    <input id="camp_union_search_input" type="text" placeholder="Search Static Maps by Camp or Host Community" name="regions__name__in" class="g-width-100-percent--xs">
                                </form>
                            </div>
                        </div>
                        {% verbatim %}
                        <div class="resourcebase-snippet">
                            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in latestcampcmty.objects">
                                <div class="card">
                                    <div class="card-image">
                                        <a href="{{ item.detail_url }}">
                                            <img class="img-responsive center-block" src="{{ item.thumbnail_url }}" alt="{{ item.title }}">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <div class="description-content">
                                            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-0--xs">{{ item.doc_type_long }}</p>
                                            <a href="{{ item.detail_url }}">
                                                <h2 class="g-margin-b-0--xs">{{ item.title }}</h2>
                                            </a>
                                            <div class="g-color--gray-light hide">
                                                by {{ item.owner_name }}
                                                <span class="mx-1">•</span>
                                                {{ item.date|date:'MMM d, y' }}
                                            </div>
                                            <div>
                                                <small class="text-muted">Last updated {{ item.date|date:'MMM d, y' }}</small>
                                            </div>
                                            <div class="text-right">
                                                <span ng-repeat="region in item.regions">
                                                    <span class="label label-default">{{ region }}</span>&nbsp;
                                                </span>
                                            </div>
                                            <div class="hide">
                                                <span class="label label-default">{{ item.category__gn_description }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                    </div>
                </div>
            </section>
        </div>

		{% block datasets %}
		<section class="section-content-left-icon hide">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                            <div class="icon">
                                <i class="flaticon-analytics"></i>
                            </div>
                            
                            <div class="content">
                            <h2>{% trans "Dashboards" %}</h2>
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-ranking"></i></div>
                        
                        <div class="content">
                            <h2>{% trans "Upload Documents" %}</h2>
                            <p>Distinctively cultivate granular action items with standards compliant metrics. Holisticly promote empowered.</p>
                        </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-monitoring"></i></div>

                        <div class="content">
                            <h2>{% trans "Upload Layers" %}</h2>
                            <p>Assertively facilitate go forward web services whereas intuitive e-markets. Completely parallel task world.</p>
                        </div>
                        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-blogging"></i></div>

                        <div class="content">
                            <h2>{% trans "Create map using single/ multiple layers" %}</h2>
                            <p>Efficiently monetize technically sound e-markets rather than interoperable e-services.</p>
                        </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-social-media"></i></div>

                        <div class="content">
                            <h2>{% trans "Downloadable to PDF Map" %}</h2>
                            <p>Collaboratively seize best-of-breed manufactured products for inexpensive initiatives. Dynamically repurpose.</p>
                        </div>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="left-icon-wraper">
                        <div class="icon"><i class="flaticon-viral-marketing"></i></div>

                        <div class="content">
                            <h2>{% trans "Customizable size PDF Map" %}</h2>
                            <p>Enthusiastically promote standards compliant relationships vis-a-vis backend resources.</p>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container -->
        </section>
        <!-- /.services-left-icon -->
		{% endblock datasets %}

		{% block showcase %}
		<section class="featured-box hide">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="featured-content-wrapper">
                            <div class="featured-img">
                                <img class="img-responsive" src="{% static 'epr_bgd/img/img-featured-1.png' %}" alt="">
                            </div>
                            <div class="featured-content">
                                <h1>{% trans "Explore Our Interactive Map Catalogue" %}</h1>
                                <p>
                                    Dynamically enhance accurate methods of empowerment without interdependent applications. Appropriately e-enable synergistic platforms for visionary manufactured products. Dramatically develop state of the art relationships without enterprise-wide methodologies.
                                </p>
                                <a href="" class="btn btn-default btn-lg">{% trans "Explore Interactive Maps" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.featured-box -->
        {% endblock showcase %}
        
        <section class="testimonial hide">
            <div class="container">
                <div id="testimonialSlider" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonialSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonialSlider" data-slide-to="1"></li>
                        <li data-target="#testimonialSlider" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <blockquote>
                            
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus
                                    pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit
                                    consequat eget augue vitae aliquet sollicitudin.
                                </p>

                                <ul class="user-details">
                                    <li class="avatar"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" class="img-responsive" alt=""/></li>
                                    <li class="name">Justus Kühn</li>
                                    <li class="company">{% trans "OSM" %}</li>
                                </ul>

                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus
                                    pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit
                                    consequat eget augue vitae aliquet sollicitudin.
                                </p>
                                <ul class="user-details">
                                    <li class="avatar"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" class="img-responsive" alt=""/></li>
                                    <li class="name">Lennox Arnold</li>
                                    <li class="company">{% trans "OSM" %}</li>
                                </ul>

                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egetvel lacus
                                    pretium rhoncus a quis nisly Ut vehicula gravida dui in pulvinar donec diam elit
                                    consequat eget augue vitae aliquet sollicitudin.
                                </p>
                                <ul class="user-details">
                                    <li class="avatar"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" class="img-responsive" alt=""/></li>
                                    <li class="name">Paulina Berger</li>
                                    <li class="company">{% trans "OSM" %}</li>
                                </ul>

                            </blockquote>
                        </div>
                    </div>
                </div>
                <!-- #testimonialSlider -->
            </div>
        </section>
        <!-- /.testimonial -->

        <section class="client-logo ptb-100 hide">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 section-margin">
                        <a href="#"><img src="{% static 'epr_bgd/img/partner/osm.png' %}" alt="Image"></a>
                    </div>
                </div>
            </div>
            <!--end of .container -->
        </section>
        <!-- /.client-logo -->

	{% endblock mainbody %}

{% endblock middle %}

{% block extra_script %}
	{{ block.super }}
	{% if DEBUG_STATIC %}
		<script src="{% static "lib/js/angular.js" %}"></script>
	{% endif %}
	<script type="text/javascript">
        FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
        LATESTCAMP_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}?regions__level__in=3&limit=4&offset=0&order_by=-date';
        LATESTCMTY_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}?regions__level__in=2&limit=4&offset=0&order_by=-date';
        LATESTCAMPCMTY_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}?regions__level__in=2,3&limit=4&offset=0&order_by=-date';

		'use strict';
		(function(){
			var module = angular.module('featured', []);
			module.run(function($http, $rootScope){
				$http.get(FEATURED_URL).success(function(data){
					$rootScope.featured = data.objects;
                });
                $http.get(LATESTCAMP_URL).success(function(data){
					$rootScope.latestcamp = data;
                });
                $http.get(LATESTCMTY_URL).success(function(data){
					$rootScope.latestcmty = data;
                });
                $http.get(LATESTCAMPCMTY_URL).success(function(data){
					$rootScope.latestcampcmty = data;
                });
			});
		})();
    </script>
    <script type="text/javascript">
        var camp_autocomplete = $('#camp_search_input').yourlabsAutocomplete({
            url: '{% url "autocomplete_light_autocomplete" "CampBaseAutocomplete" %}',
            choiceSelector: 'span',
            hideAfter: 200,
            minimumCharacters: 1,
            placeholder: '{% trans "Enter camp here ..." %}',
            appendAutocomplete: $('#camp_search_input'),
            autoHilightFirst: false
        });
        $('#camp_search_input').bind('selectChoice', function(e, choice, autocomplete) {
            if(choice[0].children[0] == undefined) {
                $('#camp_search_input').val($(choice[0]).text());
                $('#camp_search').submit();
            }
        });

        var union_autocomplete = $('#union_search_input').yourlabsAutocomplete({
            url: '{% url "autocomplete_light_autocomplete" "UnionBaseAutocomplete" %}',
            choiceSelector: 'span',
            hideAfter: 200,
            minimumCharacters: 1,
            placeholder: '{% trans "Enter Host Community here ..." %}',
            appendAutocomplete: $('#union_search_input'),
            autoHilightFirst: false
        });
        $('#union_search_input').bind('selectChoice', function(e, choice, autocomplete) {
            if(choice[0].children[0] == undefined) {
                $('#union_search_input').val($(choice[0]).text());
                $('#union_search').submit();
            }
        });

        var camp_union_autocomplete = $('#camp_union_search_input').yourlabsAutocomplete({
            url: '{% url "autocomplete_light_autocomplete" "CampUnionBaseAutocomplete" %}',
            choiceSelector: 'span',
            hideAfter: 200,
            minimumCharacters: 1,
            placeholder: '{% trans "Enter Any Camp or Host Community here ..." %}',
            appendAutocomplete: $('#camp_union_search_input'),
            autoHilightFirst: false
        });
        $('#camp_union_search_input').bind('selectChoice', function(e, choice, autocomplete) {
            if(choice[0].children[0] == undefined) {
                $('#camp_union_search_input').val($(choice[0]).text());
                $('#camp_union_search').submit();
            }
        });
    </script>
	<script>
		$('[data-toggle="tooltip"]').tooltip({container: 'body'});
	</script>
{% endblock extra_script %}
