{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <li class="active">
        <a href="{% url "dashboard_detail" %}?page=landslide" class="">{% trans "Landslide Risk" %}</a>
    </li>
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
{% endblock %}

{% block body_outer %}
    <div class="row g-margin-t-25--xs g-margin-b-45--xs">
        
        {% for chart_key, chart_val in init_data.charts.items %}
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default card-dashboard">
                    <div class="panel-body">
                        <h2>{{ chart_val.title }}</h2>
                        <div id="frisk_{{ chart_key }}_donut" class="ch-size donut-chart" data-color=colorAvaRisk data-val='{{ chart_val.values | jsonify | safe }}' data-title='{{ chart_val.title }}' data-show-title='none'></div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Flood Risk Population" %}</h2>
                    <div id="frisk_pop_donut" class="ch-size donut-chart" data-color=colorFloodRisk data-val='[["Low", 3190195.0], ["Medium", 3009765.0], ["High", 1293374.0], ["Not at risk", 26061175.0]]' data-title='Flood Risk Population' data-show-title='none'></div>
                </div>
            </div>
        </div> -->
        
        {% with init_data.tables.table_shelter_hltfac as table %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans table.title %}</h2>
                    <p class="">{% trans "Put Description here..." %}</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <!-- <tr> -->
                                    <!-- <th>{% trans "Camp" %}</th>
                                    <th class="hum">{% trans "Building" %}</th>
                                    <th class="hum">{% trans "Settlement" %}</th> -->
                                    <!-- <th colspan="2">{% trans "Built-Up" %}</th> -->
                                    <!-- <th colspan="2">{% trans "Cultivated" %}</th> -->
                                    <!-- <th colspan="2">{% trans "Barren/Rangeland" %}</th> -->
                                    <!-- <th colspan="2">{% trans "Total" %}</th> -->
                                    <!-- <th class="hum">{% trans "Population" %}</th>
                                    <th class="hum">{% trans "Area" %} ({% blocktrans %}km<sup>2</sup>{% endblocktrans %})</th> -->
                                    <!-- {% for cell in table.column_keys %}
                                    <th class="hum">{{cell}}</th>
                                    {% endfor %} -->
                                    <!-- <th class="">{{table.column_keys.0}}</th>
                                    <th class="">{{table.column_keys.1}}</th>
                                    <th class="">{{table.column_keys.2}}</th>
                                    <th class="hum">{{table.column_keys.3}}</th>
                                    <th class="hum">{{table.column_keys.4}}</th>
                                    <th class="hum">{{table.column_keys.5}}</th>
                                    <th class="hum">{{table.column_keys.6}}</th>
                                    <th class="hum">{{table.column_keys.7}}</th>
                                    <th class="hum">{{table.column_keys.8}}</th>
                                    <th class="hum">{{table.column_keys.9}}</th>
                                    <th class="hum">{{table.column_keys.10}}</th>
                                    <th class="hum">{{table.column_keys.11}}</th>
                                    <th class="hum">{{table.column_keys.12}}</th> -->
                                <!-- </tr> -->
                                <tr>
                                    <th rowspan="2">{% trans "Camp" %}</th>
                                    <th rowspan="2">{% trans "Union" %}</th>
                                    <th rowspan="2">{% trans "Upazila" %}</th>
                                    <th colspan="2">{% trans "Shelter" %}</th>
                                    <th colspan="2">{% trans "Health Facilities" %}</th>
                                    <th rowspan="2" class="hum">{% trans "Total Shelter at Risk (%)" %}</th>
                                    <th rowspan="2" class="hum">{% trans "Total Health Facilities at Risk (%)" %}</th>
                                </tr>
                                <tr>
                                    <!-- <th class="hum">{% trans "Low" %}</th> -->
                                    <th class="hum">{% trans "Med" %}</th>
                                    <th class="hum">{% trans "High" %}</th>
                                    <!-- <th class="hum">{% trans "Low" %}</th> -->
                                    <th class="hum">{% trans "Med" %}</th>
                                    <th class="hum">{% trans "High" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr class="">
                                    <td class="boldRow">Afghanistan</td>
                                    <td class="boldRow">104</td>
                                    <td class="boldRow">253</td>
                                    <td class="boldRow">749</td>
                                    <td class="boldRow">728</td>
                                </tr>
                                <tr class="selectable" onclick="window.document.location='?page=floodrisk&amp;code=15';">
                                    <td class="">Badakhshan</td>
                                    <td>269</td>
                                    <td>101</td>
                                    <td>186</td>
                                    <td>165</td> -->
                                <!-- </tr>
                                {% for cell in table.parentdata %}
                                    <td class="boldRow">{{cell}}</td>
                                {% endfor %}
                                </tr> -->
                                {% for child in table.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=floodrisk&code={{child.code}}';">
                                        {% for item in child.values %}
                                            <td>{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3">{% trans "Total" %}</th>
                                    {% for cell in table.parentdata %}
                                        {% if forloop.counter0 != 0 and forloop.counter0 != 1 and forloop.counter0 != 2 %}
                                            <th class="hum">{{cell}}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                          </tfoot>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script>
        var map_category = ['{% trans "Population at Risk" %}', '{% trans "Settlement at Risk" %}', '{% trans "Building at Risk" %}', '{% trans "Area at Risk" %}'];
        // var frisk_cat = panels.charts.pop_depth.labels;
    </script>
{% endblock %}