{% extends "maps/map_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Deleting" %} {{ map.title }} — {{ block.super }}{% endblock %}

{% block map_title %}
    <h2>{% trans "Remove Interactive Maps" %}</h2>
{% endblock map_title %}

{% block breadcrumb %}
    <li>
        <a href="{{ map.get_absolute_url }}">{{ map.title }}</a>
    </li>
    <li class="active">{% trans "Remove Interactive Map" %}</li>
{% endblock breadcrumb %}

{% block body %}
<div class="panel panel-default g-margin-t-25--xs g-margin-b-45--xs">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <p class="lead text-center">
                    {% blocktrans with map.title as map_title %}
                    Are you sure you want to remove <a href="{{ map.get_absolute_url }}">{{ map_title }}</a>?
                    {% endblocktrans %}
                </p>
                <form action="{% url "map_remove" map.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-actions text-center">
                        <input type="submit" value="{% trans "Yes, I am sure" %}" class="btn btn-danger" />
                        <a href="{{ map.get_absolute_url }}" class="btn btn-default">{% trans "No, don't remove it" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
