{% extends "dash_reporthub_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block reporthub_breadcrumb %} 
    <li class="active">
        <a href="{% url "dashboard_detail" %}?page=healthsector&cluster_id=health" class="">{% trans "Health Sector" %}</a>
    </li>
{% endblock reporthub_breadcrumb %}


{% block reporthub_content %}

        {% comment %}
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Activity" %}</div>
                    <div class="number">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Cluster" %}</div>
                    <div class="number">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Donor" %}</div>
                    <div class="number">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Organization" %}</div>
                    <div class="number">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Beneficiaries" %}</div>
                    <div class="number">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Households" %}</div>
                    <div class="number">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Unit" %}</div>
                    <div class="number">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Organization by Activity" %}</h2>
                    <div id="chart_bar_horizontal_activity_org" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='Organization' data-yaxis='["Activity A", "Activity B", "Activity C", "Activity D", "Activity E", "Activity F", "Activity G", "Activity H", "Activity I", "Activity J", "Activity K", "Activity L"]' data-val='[{"data":[1,2,3,4,5,6,7,8,9,10,11,12]}]' ></div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Monthly Activity" %}</h2>
                    <div id="chart_bar_horizontal_activity_monthly" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='Activity' data-yaxis='["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]' data-val='[{"data":[1,2,3,4,5,6,7,8,9,10,11,12]}]' ></div>
                    <!-- <div id="chart_bar_horizontal_activity_monthly" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='{{ init_data.charts.chart_hltfac.title }}' data-yaxis='{{ init_data.charts.chart_hltfac.labels | jsonify | safe }}' data-val='[{"data":{{ init_data.charts.chart_hltfac.values | jsonify | safe }}}]' ></div> -->
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Activity by Type" %}</h2>
                    <div id="chart_donut_activity_type" class="ch-size donut-chart" data-color=colorLandslide data-val='[["Type A", 2000], ["Type B", 2000], ["Type C", 2000], ["Type D", 2000], ["Type E", 2000]]' data-title='Activity Type' data-show-title='none' ></div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Activity by Organization" %}</h2>
                    <div id="chart_donut_activity_org" class="ch-size donut-chart" data-color=colorLandslide data-val='[["Org A", 2000], ["Org B", 2000], ["Org C", 2000], ["Org D", 2000], ["Org E", 2000]]' data-title='Organization' data-show-title='none' ></div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Activity by Donor" %}</h2>
                    <div id="chart_donut_activity_donor" class="ch-size donut-chart" data-color=colorLandslide data-val='[["Donor A", 2000], ["Donor B", 2000], ["Donor C", 2000], ["Donor D", 2000], ["Donor E", 2000]]' data-title='Donor' data-show-title='none' ></div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Activity by Cluster" %}</h2>
                    <div id="chart_donut_activity_cluster" class="ch-size donut-chart" data-color=colorLandslide data-val='[["Cluster A", 2000], ["Cluster B", 2000], ["Cluster C", 2000], ["Cluster D", 2000], ["Cluster E", 2000]]' data-title='Cluster' data-show-title='none' ></div>
                </div>
            </div>
        </div>
        {% endcomment %}

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script>
        var level_risk = ['{% trans "Low" %}', '{% trans "Moderate" %}', '{% trans "High" %}', '{% trans "Very High" %}' ];
        var level_risk_pie = ['{% trans "Low" %}', '{% trans "Moderate" %}', '{% trans "High" %}', '{% trans "Very High" %}', '{% trans "Not at Risk" %}' ];
    </script>
{% endblock %}