{% load i18n %}
{% load app_filters %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default card-dashboard">
        <div class="panel-body">
            <div class="pull-right">
                <button id="reset_filter" type="button" class="btn btn-danger">{% trans "Reset" %}</button>
                <button id="add_filter" type="button" class="btn btn-primary">{% trans "Apply Filter" %}</button>
            </div>
            <h2 style="line-height: 34px ">{% trans "Additional Filter" %}</h2>
            <div class="row">
                {% for idx, filter in filters.items %}
                    {% if idx != 'reporting_period' %}
                        <div class="col-xs-12 {% if 'print' in request.path %}col-sm-2{% else %}col-sm-12{% endif %} col-md-2 col-lg-2">
                            <div class="form-group">
                                <label for="{{idx}}">{{filter.label}}</label>
                                <select id="{{idx}}" class="{{idx}}-dropdown" multiple="multiple" data-placeholder="{% trans 'Select ' %}{{filter.label}}">
                                    {% for opt in filter.options %}
                                        <option value="{{opt.key}}" {% if opt.key in filter.selected %}selected="selected"{% endif %}>{{opt.value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <script>
                            selected_{{idx}} = {{filter.selected | jsonify | safe }};
                        </script>
                    {% else %}
                        <script>
                            available_date = [];
                            selected_{{idx}} = {{filter.selected | jsonify | safe }};
                            {% for opt in filter.options %}
                                available_date.push("{{opt.value}}");
                            {% endfor %}
                        </script>
                    {% endif %}
                {% endfor %}
                <div class="col-xs-12 {% if 'print' in request.path %}col-sm-3{% else %}col-sm-6{% endif %} col-md-3 col-lg-2">
                    <div class="form-group" style="margin: 0;">
                        <label for"start_date_report">{% trans 'Start Report Date' %}</label>
                        <div class='input-group date' id='start_date_report'>
                            <input type='text' class="form-control" style="height: 40px;"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 {% if 'print' in request.path %}col-sm-3{% else %}col-sm-6{% endif %} col-md-3 col-lg-2">
                    <div class="form-group">
                        <label for"end_date_report">{% trans 'End Report Date' %}</label>
                        <div class='input-group date' id='end_date_report'>
                            <input type='text' class="form-control" style="height: 40px;"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    // $(".organization-dropdown").select2({tags:["red", "green", "blue"]});
</script>


