{% extends "dashboard_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load app_filters %}

{% block dashboard_breadcrumb %} 
    <li class="active">
        <a href="{% url "dashboard_detail" %}?page=baseline" class="">{% trans "Baseline" %}</a>
    </li>
{% endblock dashboard_breadcrumb %}

{% block dashboard_content %}
{% endblock %}

{% block body_outer %}
    <div class="row g-margin-t-25--xs g-margin-b-45--xs">
        
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Affected-population"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Population" %}</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{% readable total_indi %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <div class="info-box">
                <div class="icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Family" %}</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{% readable total_fami %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <div class="info-box">
                <div class="icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Household" %}</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{% readable containhh %}</div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Shelter"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Shelter" %}</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{% readable shelter_count %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <div class="info-box">
                <div class="icon">
                    <i class="icon-Health-facility"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Health Facilities" %}</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{% readable hltfac_count %}</div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-4">
            <div class="info-box">
                <div class="icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <div class="text">{% trans "Total Area" %}</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">{% readable area_sqm %}</div>
                </div>
            </div>
        </div>

        {% for chart_title, chart_val in init_data.charts.items %}
            {% if  chart_title == 'chart_pop_by_age_group' or chart_title == 'chart_pop_by_child_adm' or chart_title == 'chart_shelter_by_child_adm' %}
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="panel panel-default card-dashboard">
                    <div class="panel-body">
                        {% if chart_title == 'chart_pop_by_age_group' %}
                            <h2>{% trans "Population by Age" %}</h2>
                            <div id="{{chart_title}}_bar_pyramid" class="ch-size pyramid-chart" data-color="colorDonut" data-colorpoint="false" data-legend="true" data-xaxis='{{ chart_val.title }}' data-yaxis='{{ chart_val.labels_y | jsonify | safe }}' data-val-left='{{ chart_val.data.male | jsonify | safe }}' data-val-right='{{ chart_val.data.female | jsonify | safe }}' data-title-left='{% trans "Male" %}' data-title-right='{% trans "Female" %}'></div>
                        {% endif %}
                        {% if  chart_title == 'chart_pop_by_child_adm' or chart_title == 'chart_shelter_by_child_adm' %}
                            <h2>{{ chart_val.title }}</h2>
                            <div id="{{chart_title}}_bar_horizontal" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='{{ chart_val.title }}' data-yaxis='{{ chart_val.labels | jsonify | safe }}' data-val='[{"data":{{ chart_val.values | jsonify | safe }}}]' ></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Overview of Population" %}</h2>
                    <p class="">{% trans 'An overview of the number of shelter, populations estimates per ...' %}</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <!-- <th>{% trans "Region" %}</th> -->
                                    <th>{{child_area_type}}</th>
                                    <th class="hum" title="{% trans 'Population' %}">{% trans "Population" %}</th>
                                    <th class="hum" title="{% trans 'Total Families' %}">{% trans "Total Families" %}</th>
                                    <th class="hum" title="{% trans 'Household' %}">{% trans "Household" %}</th>
                                    <th class="hum" title="{% trans 'Shelter' %}">{% trans "Shelter" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for child in init_data.tables.table_pop_shelter.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=baseline&code={{child.code}}';">
                                        {% for item in child.values %}
                                            <td class="">{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    {% for parent in init_data.tables.table_pop_shelter.parentdata %}
                                        <th class="{% if forloop.counter0 == 0 %}{% else %}hum{% endif %}">{{parent}}</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-8">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Health Facilities" %}</h2>
                    <div id="chart_bar_horizontal_hltfac" class="ch-size bar-chart" data-color="colorBar" data-colorpoint="false" data-legend="false" data-xaxis='{{ init_data.charts.chart_hltfac.title }}' data-yaxis='{{ init_data.charts.chart_hltfac.labels | jsonify | safe }}' data-val='[{"data":{{ init_data.charts.chart_hltfac.values | jsonify | safe }}}]' ></div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-12">
            <div class="panel panel-default card-dashboard">
                <div class="panel-body">
                    <h2>{% trans "Health Facilities" %}</h2>
                    <p class="">{% trans 'An overview of which type of health facilities are present: Hospitals: National (H1), Provincial (H2), District (H3). Comprehensive Health Center (CHC), Basic Health Center (BHC), Sub Health Center (SHC)' %}</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover {% if 'print' in request.build_absolute_uri %}print{% else %}online{% endif %}">
                            <thead>
                                <tr>
                                    <th>{% trans "Camp" %}</th>
                                    {% for hltfac in hltfac_types %}
                                        <th class="hum hltfac-head{% comment %} vertical-head {% endcomment%}" style="">
                                            {{hltfac}}
                                        </th>
                                    {% endfor %}
                                    <th class="hum">{% trans "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for child in init_data.tables.table_hltfac.child %}
                                    <tr class="selectable" onclick="window.document.location='?page=baseline&code={{child.code}}';">
                                        {% for item in child.values %}
                                            <td class="">{{item}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    {% for parent in init_data.tables.table_hltfac.parentdata %}
                                        <th class="{% if forloop.counter0 == 0 %}{% else %}hum{% endif %}">{{parent}}</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script>
        // var overview_legend = ['{% trans "Population" %}', '{% trans "Area" %}', '{% trans "Building" %}'];
        // var total_category = ['{% trans "Health Facilities" %}', '{% trans "Road (km)" %}'];
        // var hlt_category = init_data.charts.chart_hltfac.title;
    </script>
{% endblock %}