<script>
    $(document).ready(function () {
        // Toggle button from grid view to list view
        $( "#view_btn" ).click(function() {
            $( "#list_view" ).toggle();
            $( "#grid_view" ).toggle();
            if ($( "#view_btn i" ).hasClass("fa-th")) {
                $( "#view_btn i" ).removeClass("fa-th");
                $( "#view_btn i" ).addClass("fa-th-list");
            }else{
                $( "#view_btn i" ).removeClass("fa-th-list");
                $( "#view_btn i" ).addClass("fa-th");
            }
        });

        // Toggle filter
        $( "#filter_btn" ).click(function() {
            $( "#filter_controller" ).toggle();
            if ($( "#resource_list>div" ).hasClass("col-md-9")) {
                $(this).text("Show Filter");
                $( "#resource_list>div" ).toggleClass('col-md-9 col-md-12 col-sm-8 col-sm-12');
            }else{
                $(this).text("Hide Filter");
                $( "#resource_list>div" ).toggleClass('col-md-12 col-md-9 col-sm-12 col-sm-8');
            }
            
        });

        // Stick the Filter bar on scroll
        $(window).scroll(function(e){
            // console.log($(window).width());
            if ($(this).scrollTop() >= 50){
                $(".filter-toolbar-container").addClass("filter-toolbar-scroll");
                $(".filter-toolbar-container").show();
            }
            if ($(this).scrollTop() < 50){
                $(".filter-toolbar-container").removeClass("filter-toolbar-scroll");
            }
            if ($(window).width() <= 768) {
                if ($(window).scrollTop() + $(window).height() > ($(document).height() - 650) ){
                    $(".filter-toolbar-container").removeClass("filter-toolbar-scroll");
                    $(".filter-toolbar-container").hide();
                }
            } else {
                if ($(window).scrollTop() + $(window).height() > ($(document).height() - 250) ){
                    $(".filter-toolbar-container").removeClass("filter-toolbar-scroll");
                    $(".filter-toolbar-container").hide();
                }
            }
        });
    });

    $(window).load(function(){
        // Append the set permission btn group after everything has loaded
        $(".container-tools-set").append($("#tools_set"));
    });
</script>