{% extends "people/profile_base.html" %}
{% load static %}
{% load i18n %}
{% load avatar_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %} {% trans "Profile of " %}{{ profile.first_name|default:profile.username }}{% endblock %}

{% block head %}
    {% if TWITTER_CARD %}
        {% include "people/_profile_twittercard.html" %}
    {% endif %}
    {% if OPENGRAPH_ENABLED %}
        {% include "people/_profile_opengraph.html" %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block body_class %}people explore{% endblock %}

{% block breadcrumb %}
    <li class="active">{{ profile.name_long }}</li>
{% endblock breadcrumb %}

{% block body %}

    <div class="team-member">
        <div class="">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-3">
                    <figure class="thumbnail">
                        <a href="#">
                            {% autoescape off %}{% avatar profile 240 %}{% endautoescape %}
                            <!-- <img src="img/img-team-1.png" class="img-responsive" alt="Image"> -->
                        </a>
                        <figcaption class="caption text-center">
                            <h3>{{ profile.name_long }}</h3>
                            <p class="">{% trans "Member of" %}</p>
                            {% if user.is_authenticated %}
                                {% if user == profile %}
                                    {% for group in profile.group_list_all %}
                                        <div ng-if="group.logo != ''" class="group-logo">
                                            <a href="{{ group.get_absolute_url }}" ><img src="http://13.250.14.182{% get_media_prefix %}{{ group.logo }}" alt="{{ group.title }}" /></a>
                                        </div>
                                        <!-- <div class="col-xs-6 col-md-8">
                                        <h5>
                                            <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
                                            {% if group.email %} <a href="mailto:{{ group.email }}"><i class="fa fa-envelope-o"></i></a>{% endif %}
                                        </h5>
                                        </div> -->
                                    {% endfor %}
                                {% else %}
                                    {% for group in profile.group_list_public %}
                                        <div ng-if="group.logo != ''" class="group-logo">
                                            <a href="{{ group.get_absolute_url }}" ><img src="http://13.250.14.182{% get_media_prefix %}{{ group.logo }}" alt="{{ group.title }}" /></a>
                                        </div>
                                        <!-- <div class="col-xs-6 col-md-8">
                                        <h5>
                                            <a href="{{ group.get_absolute_url }}">{{ group.title }}</a>
                                            {% if group.email %} <a href="mailto:{{ group.email }}"><i class="fa fa-envelope-o"></i></a>{% endif %}
                                        </h5>
                                        </div> -->
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            <hr>
                            <div class="">
                                <a href="{% url "message_create" profile.pk %}" class="btn btn-default"><i class="fa fa-comments"></i> {% trans "Message User" %}</a>
                            </div>
                            <ul class="social-links hide">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </figcaption>
                    </figure>
                </div><!-- /.col-sm-4 -->
                
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    <div class="tabOne g-margin-b-40--xs">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#profile" data-toggle="tab"><i class="fa fa-user"></i> {% trans 'Detail Profile' %}</a></li>
                            <li><a href="#resources" data-toggle="tab"><i class="fa fa-file-o"></i> {% trans "Resources" %}</a></li>
                            <li><a href="#activities" data-toggle="tab"><i class="fa fa-clock-o"></i> {% trans "Activities" %}</a></li>
                            {% if user == profile %}
                                <li><a href="#settings" data-toggle="tab"><i class="fa fa-gear"></i> {% trans "Settings" %}</a></li>
                            {% endif %}
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="profile">
                                {% if user == profile %}
                                    <a href="{% url "profile_edit" user.username %}" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> {% trans "Edit profile" %}</a>
                                {% else %}
                                    {% if user.is_superuser %}
                                        <a href="{% url "profile_edit" profile.username %}" class="btn btn-default pull-right"><i class="fa fa-pencil"></i> {% trans "Edit profile" %}</a>
                                    {% endif %}
                                {% endif %}

                                <br>
                                <br>
                                <table class="table table-user-profile">
                                    <tbody>
                                        {% if SHOW_PROFILE_EMAIL %}
                                            <tr>
                                                <td class="table-user-profile-attribute">{% trans 'Email' %}</td>
                                                {% if profile.email %}
                                                    <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
                                                {% else %}
                                                    <td>{% trans 'Not provided.' %}</td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Position' %}</td>
                                            <td>{{ profile.position | default:_('Not provided.') }}</td>
                                        </tr>
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Organization' %}</td>
                                            <td>{{ profile.organization | default:_('Not provided.') }}</td>
                                        </tr>
                                        {% if user.is_authenticated %}
                                            <tr>
                                                <td class="table-user-profile-attribute">{% trans 'Location' %}</td>
                                                <td>{{ profile.location | default:_('Not provided.') }}</td>
                                            </tr>
                                            <tr>
                                                <td class="table-user-profile-attribute">{% trans 'Voice' %}</td>
                                                {% if profile.voice %}
                                                    <td><a href="tel:{{ profile.voice }}">{{ profile.voice }}</a></td>
                                                {% else %}
                                                    <td>Not provided.</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="table-user-profile-attribute">{% trans 'Fax' %}</td>
                                                <td>{{ profile.fax | default:_('Not provided.') }}</td>
                                            </tr>
                                            <tr>
                                                <td class="table-user-profile-attribute">{% trans 'Description' %}</td>
                                                <td>{{ profile.profile | default:_('Not provided.') }}</td>
                                            </tr>
                                        {% endif %}
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Keywords' %}</td>
                                            <td>
                                                {% if profile.keyword_list %}
                                                    {% for keyword in profile.keyword_list %}
                                                        <span class="label label-default">{{ keyword }}</span>
                                                    {% endfor %}
                                                {% else %}
                                                    {% trans 'Not provided' %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% if user == profile %}
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans "Associated e-mails" %}</td>
                                            <td><a href="{% url "account_email" %}">{% trans "Edit" %}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans "Connected social accounts" %}</td>
                                            <td><a href="{% url "socialaccount_connections" %}">{% trans "Edit" %}</a></td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
    
                                {% if USE_GEOSERVER and DISPLAY_WMS_LINKS %}
                                    <p>
                                        {% if request.user.is_authenticated and 'access_token' in request.session %}
                                            <a href="{% url 'capabilities_user' profile.username %}?access_token={{ request.session.access_token }}" class="btn btn-default">
                                        {% else %}
                                            <a href="{% url 'capabilities_user' profile.username %}" class="btn btn-default">
                                        {% endif %}
                                        <i class="fa fa-map"></i> {% trans 'User layers WMS GetCapabilities document' %}</a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="resources">
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-7 col-sm-push-5 col-md-5 col-md-push-7 col-lg-4 col-lg-push-8">
                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                            <div class="btn-group" role="group">
                                                <a href="{% url "layer_upload" %}" class="btn btn-default">{% trans "Upload Layers" %}</a>
                                            </div>
                                            {% if 'geonode.contrib.createlayer' in INSTALLED_APPS %}
                                                <div class="btn-group" role="group">
                                                    <a href="{% url "layer_create" %}" class="btn btn-default">{% trans "Create Layer" %}</a>
                                                </div>
                                            {% endif %}
                                            <div class="btn-group" role="group">
                                                <a href="{% url "new_map" %}" class="btn btn-default">{% trans "Create Map" %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                                        {% include "people/_profile_filters.html" %}
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 g-margin-t-10--md g-text-center--xs">
                                        <div class="g-pull-left--sm">
                                            {% include "search/_sort_filters.html" %}
                                        </div>
                                        <div class="g-pull-right--sm g-margin-t-20--xs g-margin-t-0--md">
                                            {% include 'search/_pagination.html' %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="">
                                    {% include 'base/_resourcebase_snippet.html' %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="activities">
                                {% include "actstream/actor.html" %}
                                
                                {% comment %}
                                {% if user == profile %}
                                    <a href="{% url "user-activity" profile.username %}" class="btn btn-default"><i class="fa fa-clock-o"></i> {% trans "My Activities" %}</a>
                                {% else %}
                                    <a href="{% url "user-activity" profile.username %}" class="btn btn-default"><i class="fa fa-clock-o"></i> {% trans "User Activities" %}</a>
                                {% endif %}
                                {% endcomment %}
                            </div>
                            {% if user == profile %}
                                <div class="tab-pane fade" id="settings">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"><i class="fa fa-lock"></i> {% trans "Privacy Settings" %}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="{% url "account_change_password" %}">{% trans "Set/Change password" %}</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        {% if USE_NOTIFICATIONS or perms.announcements.can_manage %}
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"><i class="fa fa-bell"></i> {% trans "Notifications Settings" %}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    {% if USE_NOTIFICATIONS %}
                                                        <div>
                                                            <a href="{% url "notice_settings" %}">{% trans "Notifications" %}</a>
                                                        </div>
                                                    {% endif %}
                                                    {% if perms.announcements.can_manage %}
                                                        <div>
                                                            <a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title"><i class="fa fa-cog"></i> {% trans "Management Settings" %}</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a>
                                                    </div>
                                                    {% if user.is_superuser or user.is_staff %}
                                                        <div>
                                                            <a href="{% url "proxy" %}?url={{ OGC_SERVER.default.LOCATION }}">{% trans "GeoServer" %}</a>
                                                        </div>
                                                        <div>
                                                            <a href="{% url "admin:index" %}">{% trans "Admin" %}</a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="panel panel-default hide">
                        <div class="panel-body">
                            <h4>{% trans 'Detail Profile' %}</h4>
                            <table class="table table-user-profile">
                                <tbody>
                                    {% if SHOW_PROFILE_EMAIL %}
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Email' %}</td>
                                            {% if profile.email %}
                                                <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
                                            {% else %}
                                                <td>{% trans 'Not provided.' %}</td>
                                            {% endif %}
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Position' %}</td>
                                        <td>{{ profile.position | default:_('Not provided.') }}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Organization'  %}</td>
                                        <td>{{ profile.organization | default:_('Not provided.') }}</td>
                                    </tr>
                                    {% if user.is_authenticated %}
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Location' %}</td>
                                            <td>{{ profile.location | default:_('Not provided.') }}</td>
                                        </tr>
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Voice' %}</td>
                                            {% if profile.voice %}
                                                <td><a href="tel:{{ profile.voice }}">{{ profile.voice }}</a></td>
                                            {% else %}
                                                <td>Not provided.</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Fax' %}</td>
                                            <td>{{ profile.fax | default:_('Not provided.') }}</td>
                                        </tr>
                                        <tr>
                                            <td class="table-user-profile-attribute">{% trans 'Description' %}</td>
                                            <td>{{ profile.profile | default:_('Not provided.') }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Keywords' %}</td>
                                        <td>
                                            {% if profile.keyword_list %}
                                                {% for keyword in profile.keyword_list %}
                                                    <span class="label label-default">{{ keyword }}</span>
                                                {% endfor %}
                                            {% else %}
                                                {% trans 'Not provided' %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            {% if USE_GEOSERVER and DISPLAY_WMS_LINKS %}
                                <p>
                                    {% if request.user.is_authenticated and 'access_token' in request.session %}
                                        <a href="{% url 'capabilities_user' profile.username %}?access_token={{ request.session.access_token }}">
                                    {% else %}
                                        <a href="{% url 'capabilities_user' profile.username %}">
                                    {% endif %}
                                    <i class="fa fa-map"></i> {% trans 'User layers WMS GetCapabilities document' %}</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    
                    <div class="panel panel-default hide">
                        <div class="panel-body">
                            <h4>{% trans 'Resources' %}</h4>
                            {% include "people/_profile_filters.html" %}
                            {% include "search/_sort_filters.html" %}
                            <div class="g-bg-color--sky-light">
                                {% include 'base/_resourcebase_snippet.html' %}
                            </div>
                            {% include 'search/_pagination.html' %}
                        </div>
                    </div>
                    
                </div>
                
            </div><!-- .row -->
        </div> <!-- .container -->
    </div>

{% endblock %}

{% block extra_script %}
    {{ block.super }}
    {% if GEONODE_SECURITY_ENABLED %}
        {% include "_permissions_form_js.html" %}
    {% endif %}
    <script type="text/javascript">
        {% if HAYSTACK_SEARCH %}
            SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='base' %}?owner__username={{profile.username}}'
        {% else %}
            SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='base' %}?owner__username={{profile.username}}';
        {% endif %}
    </script>
    {% include 'search/search_scripts.html' %}
    <script>
        $(".team-member .thumbnail img").addClass("img-circle");
    </script>
{% endblock %}
