body {font-family: 'Roboto', sans-serif}
#aboutbutton {
    display: none;
}
#paneltbar {
    margin-top: 55px !important;
    /*margin-bottom: 0px;*/
}
button.logout {
    display: none;
}
button.login {
    display:none;
}
.map-title-header {
    margin-right: 10px;
}