{% extends "geonode_base.html" %}
{% load i18n %}

{% block middle %}
    <section class="single-page-title single-page-title-about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block page_title %}
                    {% endblock page_title %}
                </div>
            </div>
        </div>
    </section>
    <!-- .page-title -->
    {{ block.super }}
{% endblock middle %}

{% block body_outer %}
    {% block body %}{% endblock body %}
    {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}
