{% extends "account/base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block middle %}
    <section class="contact-section white-bg">
        <div class="container">
            <div class="section-title text-center">
                <h2>{% trans "Password Set" %}</h2>
                <p class="lead">{% trans "Set your password here" %}</p>
            </div>
            <div class="contact-form mt-50">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <div class="g-text-center--xs">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans "Set password" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
