{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block middle %}
    <section class="contact-section white-bg">
        <div class="container">
            <div class="section-title text-center">
                <h2>{% trans "Change Password" %}</h2>
            </div>
            <div class="contact-form mt-50">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <div class="g-text-center--xs">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans "Update Password" %}</button>
                    </div>
                </form>
            </div> <!-- contact-form -->
        </div>
    </section>
{% endblock %}

