{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load account %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% user_display request.user as user_display %}

{% block middle %}
    <section class="contact-section white-bg">
        <div class="container">
            <div class="section-title text-center">
                <h2>{% trans "Reset Password" %}</h2>
                <p class="lead">{% trans "Enter your email address and we will send you a link to reset your password." %}</p>
            </div>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <div class="contact-form mt-50 g-text-center--xs">
                <form method="POST" action="{% url 'account_reset_password' %}"></form>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p class="grid-spacer">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                    <div class="g-text-center--xs">
                        <button type="submit" class="btn btn-primary btn-lg">{% trans "Reset my password" %}</button>
                    </div>
                </form>
            </div> <!-- contact-form -->
        </div>
    </section>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
