{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block middle %}
    <section class="contact-section white-bg">
        <div class="container">
            <div class="section-title text-center">
                <h2>{% trans "Reset Password" %}</h2>
                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
    </section>
{% endblock %}