{% extends "geonode_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load guardian_tags %}
{% load pagination_tags %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}documents{% endblock %}

{% block body_outer %}
<div class="page-header">
{% comment %} <a href="{% url basemodel.namelc|add:"_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn btn-primary pull-right">{% trans "Explore "|add:basemodel.class_label %}</a> {% endcomment %}
  <h2 class="page-title">{% blocktrans with basemodel.class_label as class_label %}Upload {{class_label}}{% endblocktrans %}</h2>
	<p>{% trans "Allowed document types:" %}</p>
	<p>
	{% for doc in ALLOWED_DOC_TYPES %}
		<span class="label label-default">.{{ doc }}</span>
	{% endfor %}
	</p>
</div>
<div class="row">
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
</div>
{% endblock body_outer %}
