{% extends "base.html" %}
{% load i18n %}
{% load url from future %}
{% load app_filters %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}dashboard {{ request.GET.page }}{% endblock %}

{% block head %}
	{{ block.super }}
	<script>		
		panels = {% if panels %}{{ panels|jsonify|safe }}{% else %}{}{% endif %};
		boundary = {% if GeoJson %}{{GeoJson|jsonify|safe}}{% else %}{}{% endif %};
		jsondata = {% if jsondata %}{{ jsondata|safe }}{% else %}{}{% endif %};
		animate = {% if 'print' in request.build_absolute_uri %}false{% else %}true{% endif %};
	</script>
{% endblock %}

{% block middle %} 
    <nav class="red darken-3 breadcrumb-universal">
        <div class="nav-wrapper">
            <div class="col s12">
				<!-- <a href="#" class="breadcrumb">{% trans "Dashboard" %}</a> -->
                {% block dashboard_breadcrumb %} 
                {% endblock dashboard_breadcrumb %}
            </div>
        </div>
    </nav>
	<div style="padding:0 18px;">
		{% block dashboard_content %}{% endblock %}
	</div>
	{{ block.super }}
{% endblock middle %}