{% for idx, adm in adm_path.items %}
{% if not adm.code and 'print' in request.path %}
{% else %}
<li class="">
    <select class="area-dropdown {{adm.type}}" data-placeholder="Select {{adm.type}}">
        {% if not adm.code %}
        <option></option>
        {% endif %}
        {% for sibling in adm.sibling %}
        <option value="{{sibling.code}}" {% if adm.code == sibling.code %}selected="selected"{% endif %}>{{sibling.name}}</option>
        {% endfor %}
    </select>
</li>
{% endif %}
{% endfor %}

{% comment %}
    {% for idx, adm in adm_path.items %}
        {% for sibling in adm.sibling %}
            {{adm.code}}
            {{sibling.code}}
        {% endfor %}
    {% endfor %}
{% endcomment %}

<script>
    function select2_region(){
        $('.area-dropdown').select2({
            dropdownAutoWidth: true,
        });
        $('.area-dropdown').on('select2-selecting', function (e) {
            jump_url(e.val);
        });
        // {% for idx, adm in adm_path.items %}
        //     {% if adm.code %}
        //         // $(".area-dropdown.{{adm.type}}").select2('val', '{{adm.code}}');
        //     {% comment %}
        //     // {% else %}
        //     //     $(".area-dropdown.{{adm.type}}").select2('val', '0');
        //     {% endcomment %}
        //     {% endif %}
        // {% endfor %}
    }
</script>
<!-- 
{% comment %}
    {% for idx, adm in adm_path.items %}
        <li class="">
            <select class="region-dropdown {{adm.type}}">
                {% if not adm.code %}
                <option value="0" disabled hidden>Select {{adm.type}}</option>
                {% endif %}
                {% for sibling in adm.sibling %}
                <option value="{{sibling.code}}" {% if adm.code == sibling.code %}selected="selected"{% endif %}>{{sibling.name}}</option>
                {% endfor %}
            </select>
        </li>
    {% endfor %}

    <li class="">
        <select class="province-dropdown">
            <option></option>
            <option value="01">CAMP 01</option>
            {% if adm_prov %}
                {% for item in adm_prov %}
                <option value="{{ item.code }}">{{ item.name }}</option>
                {% endfor %}
            {% else %}
                {% for item in adm_child %}
                <option value="{{ item.code }}">{{ item.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </li>

    <li class="">
        <select class="dist-dropdown">
            <option></option>
            {% if adm_dist %}
                {% for item in adm_dist %}
                <option value="{{ item.code }}">{{ item.name }}</option>
                {% endfor %}
            {% elif not adm_dist and adm_prov %}
                {% for item in adm_child %}
                <option value="{{ item.code }}">{{ item.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </li>
{% endcomment %} -->


