<div class="input-field col s6 m3 xl2">
    <select class="province-dropdown browser-default grey-text text-darken-1">
        <option></option>
        {% if adm_prov %}
            {% for item in adm_prov %}
            <option value="{{ item.code }}">{{ item.name }}</option>
            {% endfor %}
        {% else %}
            {% for item in adm_child %}
            <option value="{{ item.code }}">{{ item.name }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>

<div class="input-field col s6 m3 xl2">
    <select class="dist-dropdown browser-default grey-text text-darken-1">
        <option></option>
        {% if adm_dist %}
            {% for item in adm_dist %}
            <option value="{{ item.code }}">{{ item.name }}</option>
            {% endfor %}
        {% elif not adm_dist and adm_prov %}
            {% for item in adm_child %}
            <option value="{{ item.code }}">{{ item.name }}</option>
            {% endfor %}
        {% endif %}
    </select>
</div>

