{% load i18n %}
{% if SEARCH_FILTERS.CATEGORIES_ENABLED %}
    <nav class="filter" ng-cloak>
        <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Sectors" %}</a></h4>
        <div class="nav closed" id="categories">
            {% if facet_type == 'layers' %}
                {% verbatim %}
                <div ng-repeat="category in categories" ng-if="category.layers_count > 0" class="list-group">
                    <a data-value="{{ category.identifier }}" data-filter="category__identifier__in"
                        title="{{ category.gn_description }}" ng-click="multiple_choice_listener($event)"
                        class="list-group-item {{category.active}}">
                        <div class="fa-stack fa-1g"><i class="fa fa-square-o fa-stack-2x"></i><i
                                class="fa {{category.fa_class}} fa-stack-1x"></i></div>
                        {{ category.gn_description | limitTo: 20 }}{{ category.gn_description.length > 20 ? '...' : ''}}
                        <span class="badge pull-right">{{ category.layers_count }}</span>
                    </a>
                </div>
                {% endverbatim %}
            {% else %}
                {% verbatim %}
                <div ng-repeat="category in categories" ng-if="category.count > 0" class="list-group">
                    <a data-value="{{ category.identifier }}" data-filter="category__identifier__in"
                        title="{{ category.gn_description }}" ng-click="multiple_choice_listener($event)"
                        class="list-group-item {{category.active}}">
                        <div class="fa-stack fa-1g"><i class="fa fa-square-o fa-stack-2x"></i><i
                                class="fa {{category.fa_class}} fa-stack-1x"></i></div>
                        {{ category.gn_description | limitTo: 20 }}{{ category.gn_description.length > 20 ? '...' : ''}}
                        <span class="badge pull-right">{{ category.count }}</span>
                    </a>
                </div>
                {% endverbatim %}
            {% endif %}
        </div>
    </nav>
{% endif %}
{% if SEARCH_FILTERS.OWNERS_ENABLED %}
    <nav class="filter" ng-cloak>
        <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i> {% trans "Owners" %}</a></h4>
        <div class="nav closed" id="owners">
            {% verbatim %}
            <div class="list-group">
                <a class="list-group-item {{owner.active}}" data-value="{{ owner.username }}"
                    data-filter="owner__username__in" ng-click="multiple_choice_listener($event)" ng-repeat="owner in owners" ng-if="owner.count > 0" >
                    <span class="badge">{{ owner.count }}</span>
                    {{ owner.full_name }}
                </a>
            </div>
            {% endverbatim %}
        </div>
    </nav>
{% endif %}
{% if SEARCH_FILTERS.DATE_ENABLED %}
    <nav class="filter" ng-cloak>
        <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i>{% trans "Date" %}</a></h4>
        <div class="nav closed white-bg g-padding-y-20--xs">
            <div class="form-group">
                <div class="col-xs-12 col-md-6" id="date_start">
                    <label for="">{% trans "From:" %}</label>
                    <input style="padding:0 15px;" value="yyyy-mm-dd" data-date-format="YYYY-MM-DD" type="text" class="datepicker form-control" placeholder="{% trans 'yyyy-mm-dd' %}" ng-model="date_query.date__gte">
                </div>
                <div class="col-xs-12 col-md-6" id="date_end">
                    <label for="">{% trans "To:" %}</label>
                    <input style="padding:0 15px;" value="yyyy-mm-dd" data-date-format="YYYY-MM-DD" type="text" class="datepicker form-control" placeholder="{% trans 'yyyy-mm-dd' %}" ng-model="date_query.date__lte" />
                </div>
            </div>
        </div>
    </nav>
{% endif %}
