{% load i18n %}

{% verbatim %}
<div class="row">
    <div id="grid_view">
        <div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="group in results" resource_id="{{ group.id }}" ng-cloak class="ng-cloak">
            <div class="card">
                <div class="card-image">
                    <a href="{{ group.detail_url }}">
                        <img class="img-responsive center-block" ng-show="{{ group.logo }}" ng-src="{{ group.logo }}" alt="{{ group.title }}" />
                    </a>
                </div>
                <div class="card-content">
                    <div>
                        <h2 class="g-margin-b-0--xs">
                            <a href="{{ group.detail_url }}">
                                {{ group.title }}
                            </a>
                        </h2>
                        <div class="g-color--gray-light">
                            <small class="text-muted ng-binding">{% endverbatim %}{% trans "Created at " %}{% verbatim %}{{ group.created|date:'MMM d, y' }}</small>
                        </div>
                        <ul class="list-inline">
                            <li>
                                <a href="{{ group.detail_url }}">
                                    <strong>{{ group.member_count }}</strong>
                                    <ng-pluralize count="group.member_count" when="{'1': 'Member', 'other': 'Members'}"></ng-pluralize>
                                </a>
                            </li>
                            <li>
                                <a href="{{ group.detail_url }}">
                                    <strong>{{ group.manager_count }}</strong>
                                    <ng-pluralize count="group.manager_count" when="{'1': 'Manager', 'other': 'Managers'}"></ng-pluralize>
                                </a>
                            </li>
                        </ul>
                        <p>
                            {{ group.description | limitTo: 300 }}
                            {{ group.description.length  > 300 ? '...' : ''}}
                        </p>
                    </div>
                    <div class="text-right">
                        <a href="{{ group.detail_url }}" class="btn">{% endverbatim %}{% trans "Details" %}{% verbatim %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="list_view" style="display: none;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="group in results" resource_id="{{ group.id }}" ng-cloak class="ng-cloak">
            <div class="card">
                <div class="row">
                    <div class="col-xs-5 col-sm-3 col-md-3 col-lg-3">
                        <a href="{{ group.detail_url }}">
                            <img class="img-responsive center-block" ng-show="{{ group.logo }}" ng-src="{{ group.logo }}" alt="{{ group.title }}" />
                        </a>
                    </div>
                    <div class="col-xs-7 col-sm-9 col-md-9 col-lg-9">
                        <div class="card-content resourcebase-content-list">
                            <div>
                                <h4 class="g-margin-b-0--xs"><a href="{{ group.detail_url }}">{{ group.title }}</a></h4>
                                <div class="g-color--gray-light">
                                    <small class="text-muted ng-binding">{% endverbatim %}{% trans "Created at " %}{% verbatim %}{{ group.created|date:'MMM d, y' }}</small>
                                </div>
                                <p>
                                    {{ group.description | limitTo: 300 }}
                                    {{ group.description.length  > 300 ? '...' : ''}}
                                </p>
                                <ul class="list-inline">
                                    <li>
                                        <a href="{{ group.detail_url }}">
                                            <strong>{{ group.member_count }}</strong>
                                            <ng-pluralize count="group.member_count" when="{'1': 'Member', 'other': 'Members'}"></ng-pluralize>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ group.detail_url }}">
                                            <strong>{{ group.manager_count }}</strong>
                                            <ng-pluralize count="group.manager_count" when="{'1': 'Manager', 'other': 'Managers'}"></ng-pluralize>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-right">
                                <a href="{{ group.detail_url }}" class="btn">{% endverbatim %}{% trans "Details" %}{% verbatim %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
