{% load i18n %}
{% block bulk_perms_button %}
    <div class="btn-group btn-group-xs" role="group" aria-label="tools" id="tools_set">
        {% if request.user.is_authenticated %}
            <button type="button" class="btn btn-default" ng-disabled="!cart.getCart().items.length" data-toggle="modal" data-target="#_bulk_permissions">{% trans "Set permissions" %}</button>
        {% endif %}
        {% if facet_type == 'layers' %}
            <button type="button" class="btn btn-default" ng-disabled="!cart.getCart().items.length" ng-click="newMap()">{% trans "Create a Map" %}</button>
        {% endif %}
    </div>
{% endblock %}