{% load i18n %}
{% load base_tags %}
<nav class="filter">
    <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-down"></i>{% trans header %}</a></h4>
    <div class="nav" id="types">
        {% facets as facets %}

        {% for facet, count in facets.items %}
            {% if count > 0 %}
            <div class="list-group">
                <a id="{{ facet }}" data-value="{{ facet }}" data-filter="{{ filter }}" ng-click="multiple_choice_listener($event)" class="list-group-item" >{% tag_get_facet_title facet %}{{ count|pluralize}}
                    <span class="badge pull-right">{{ count }}</span>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</nav>
